[submodule "external/macro-logger"]
	path = external/macro-logger
        url = git@github.com:otto-link/macro-logger.git
[submodule "external/FastNoiseLite"]
	path = external/FastNoiseLite
	url = git@github.com:Auburn/FastNoiseLite.git
	ignore = untracked
[submodule "external/dkm"]
	path = external/dkm
	url = git@github.com:genbattle/dkm.git
[submodule "external/hmm"]
	path = external/hmm
	url = git@github.com:fogleman/hmm.git
[submodule "external/Noise"]
	path = external/Noise
	url = git@github.com:otto-link/Noise.git
[submodule "external/libnpy"]
	path = external/libnpy
	url = git@github.com:llohse/libnpy.git
