[submodule "external/macro-logger"]
	path = external/macro-logger
        url = git@github.com:otto-link/macro-logger.git
[submodule "external/bezier"]
	path = external/bezier
	url = git@github.com:oysteinmyrmo/bezier.git
[submodule "external/FastNoiseLite"]
	path = external/FastNoiseLite
	url = git@github.com:Auburn/FastNoiseLite.git
	ignore = untracked
[submodule "external/dkm"]
	path = external/dkm
	url = git@github.com:genbattle/dkm.git
[submodule "external/libInterpolate"]
	path = external/libInterpolate
	url = git@github.com:CD3/libInterpolate.git
[submodule "external/WavefrontObjWriter"]
	path = external/WavefrontObjWriter
	url = git@github.com:yknishidate/WavefrontObjWriter.git
[submodule "external/hmm"]
	path = external/hmm
	url = git@github.com:fogleman/hmm.git
