[submodule "external/stb"]
	path = external/stb
	url = git@github.com:nothings/stb.git
[submodule "external/macro-logger"]
	path = external/macro-logger
	url = git@github.com:dmcrodrigues/macro-logger.git
[submodule "external/bezier"]
	path = external/bezier
	url = git@github.com:oysteinmyrmo/bezier.git
